body {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
font-weight: normal;
    background: linear-gradient(180deg, rgba(252,24,225,1) 0%, rgba(241,253,29,1) 96%, rgba(252,246,69,1) 100%);
    background-attachment:fixed;
    height:100%;
}
button {
    margin-top: 10px;
}

hr {
    margin: 10px 10%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
}

#headline {
    text-align: center;
}

#center-bottom-message {
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
    z-index:9999;
    margin-bottom: 2%;
}